.form {
  &:global {
    &.react-form--inner .react-form__field,
    &.react-form--inner--large .react-form__field,
    &.react-form--inner--small .react-form__field {
      margin-bottom: 16px;
    }
  }

  :global {
    .react-form__field {
      color: var(--font-color);

      input {
        color: var(--font-color);
      }

      input::placeholder {
        color: var(--font-color-grey-2);
      }
    }

    .react-form__field-label.is-req {
      margin-left: 0;
    }

    .react-form__field-label {
      &.is-req:before {
        color: var(--color-warning);
        content: "*";
        position: static;
        display: inline-block;
        transform: translateY(2px) scale(1.5);
        margin-right: 4px;
      }

      color: var(--font-color-grey);
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      margin-bottom: 8px;
      font-weight: normal !important;
    }

    .react-form__field-error {
      line-height: 14px;
    }

    .ant-input-number,
    .ant-input-number-group-wrapper {
      width: 100%;
    }

    .ant-picker.react-form__field-component,
    .data_range_picker {
      flex: 1;
      width: 100%;
    }

    .ant-input-number-group-addon,
    .ant-input-group-addon {
      background: #ffffff;
      color: var(--font-color);
    }

    .ant-picker-suffix,
    .ant-select-arrow {
      color: var(--font-color);

      .anticon-down svg {
        display: none;
      }

      .anticon-down:before {
        display: block;
        font-family: "iconfont" !important;
        content: "\e693";
      }
    }
  }
}
